body {
    color: white;
    background-color: rgb(5, 24, 14);
}
ul {
    display: flex; 
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16;
}
a {
    color: white;
    text-decoration: none;
}